<!-- Template Name: Default Template -->

<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <script>
    var themeHasJQuery = !!window.jQuery;
</script>
<script type="text/javascript" src="{{ theme_url }}/js/jquery.js?{{ version }}"></script>
<script>
    window._$ = jQuery.noConflict(themeHasJQuery);
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ theme_url }}/css/bootstrap.css?{{ version }}" media="screen" />
<script type="text/javascript" src="{{ theme_url }}/js/bootstrap.min.js?{{ version }}"></script>
<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" href="{{ theme_url }}/css/layout.ie.css" />
<script src="{{ theme_url }}/js/layout.ie.js"></script>
<![endif]-->
<script type="text/javascript" src="{{ theme_url }}/js/layout.core.js"></script>
    
    
    <link rel="stylesheet" type="text/css" href="{{ theme_css_url }}" media="all" />
    <script type="text/javascript" src="{{ theme_url }}/js/script.js?{{ version }}"></script>
    <script>
        var themeParam = '{% if is_preview %}theme={{ is_preview }}{% endif %}';
    </script>
    {% if preview_js_url is not empty %}
    <script type="text/javascript" src="{{ preview_js_url }}?{{ version }}"></script>
    {% endif %}
</head>
{%
  set body_classes = [ 'bootstrap', 'bd-body-2', ' ', '  bd-pagebackground', ]
%}
<body {{ attributes.addClass(body_classes) }}>
    <header class=" bd-headerarea-1 bd-margins">
        <div data-affix
     data-offset=""
     data-fix-at-screen="top"
     data-clip-at-control="top"
     
 data-enable-lg
     
 data-enable-md
     
 data-enable-sm
     
     class=" bd-affix-2 bd-no-margins bd-margins "><section class=" bd-section-4 bd-tagstyles  " id="section4" data-section-title="">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutbox-6 bd-no-margins clearfix">
    <div class="bd-container-inner">
        <div class=" bd-layoutbox-11 bd-no-margins bd-no-margins clearfix">
    <div class="bd-container-inner">
        {{ include(directory ~ '/includes/logo_3.html.twig') }}
    </div>
</div>
	
		<div class=" bd-layoutbox-15 bd-no-margins bd-no-margins clearfix">
    <div class="bd-container-inner">
        {{ include(directory ~ '/includes/hmenu_3.html.twig') }}
    </div>
</div>
    </div>
</div>
    </div>
</section></div>
</header>
	
		<div class=" bd-stretchtobottom-6 bd-stretch-to-bottom" data-control-selector=".bd-contentlayout-2">
<div class="bd-contentlayout-2  bd-sheetstyles  bd-no-margins bd-margins" >
    <div class="bd-container-inner">

        <div class="bd-flex-vertical bd-stretch-inner bd-contentlayout-offset">
            
 {{ include(directory ~ '/includes/sidebar_area_6.html.twig') }}
            <div class="bd-flex-horizontal bd-flex-wide bd-no-margins">
                
 {{ include(directory ~ '/includes/sidebar_area_5.html.twig') }}
                <div class="bd-flex-vertical bd-flex-wide bd-no-margins">
                    

                    <div class=" bd-layoutitemsbox-12 bd-flex-wide bd-no-margins">
    <div class=" bd-content-4 clearfix">

    {% if blog_id is not empty %}
        {{ include(directory ~ '/includes/blog_' ~ blog_id ~ '.html.twig') }}
    {% endif %}
</div>
</div>

                    
                </div>
                
            </div>
            
        </div>

    </div>
</div></div>
	
		<footer class=" bd-footerarea-1 bd-margins">
        <section class=" bd-section-15 bd-tagstyles" id="section2" data-section-title="Social Icon Footer Centered Light">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-socialicons-2">
    
        {% set href  = '//www.facebook.com/sharer.php?u='|replace({'[DYNAMIC-URL]': current_url, '[DYNAMIC-TITLE]': title}) %}
<a target="_blank" class=" bd-socialicon-19 bd-socialicon" href="{{ href }}">
    <span class="bd-icon"></span><span></span>
</a>
    
        {% set href  = '//twitter.com/share?url=&amp;text='|replace({'[DYNAMIC-URL]': current_url, '[DYNAMIC-TITLE]': title}) %}
<a target="_blank" class=" bd-socialicon-20 bd-socialicon" href="{{ href }}">
    <span class="bd-icon"></span><span></span>
</a>
    
        {% set href  = '//plus.google.com/share?url='|replace({'[DYNAMIC-URL]': current_url, '[DYNAMIC-TITLE]': title}) %}
<a target="_blank" class=" bd-socialicon-21 bd-socialicon" href="{{ href }}">
    <span class="bd-icon"></span><span></span>
</a>
    
        {% set href  = '//pinterest.com/pin/create/button/?url=&amp;media=&amp;description='|replace({'[DYNAMIC-URL]': current_url, '[DYNAMIC-TITLE]': title}) %}
<a target="_blank" class=" bd-socialicon-22 bd-socialicon" href="{{ href }}">
    <span class="bd-icon"></span><span></span>
</a>
    
    
    
    
    
    
    
</div>
	
		{{ include(directory ~ '/includes/page_footer_2.html.twig') }}
    </div>
</section>
</footer>
	
		<div data-smooth-scroll data-animation-time="250" class=" bd-smoothscroll-3"><a href="#" class=" bd-backtotop-1 ">
    <span class="bd-icon-80 bd-icon "></span>
</a></div>
    <!-- BLOG_ID_PAGE = {{ blog_id }} -->
</body>
</html>