
    <header class=" bd-headerarea-1 bd-margins">
        <div data-affix
     data-offset=""
     data-fix-at-screen="top"
     data-clip-at-control="top"
     
 data-enable-lg
     
 data-enable-md
     
 data-enable-sm
     
     class=" bd-affix-2 bd-no-margins bd-margins "><section class=" bd-section-4 bd-tagstyles  " id="section4" data-section-title="">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutbox-6 bd-no-margins clearfix">
    <div class="bd-container-inner">
        <div class=" bd-layoutbox-11 bd-no-margins bd-no-margins clearfix">
    <div class="bd-container-inner">
        {{ include(directory ~ '/includes/logo_3.html.twig') }}
    </div>
</div>
	
		<div class=" bd-layoutbox-15 bd-no-margins bd-no-margins clearfix">
    <div class="bd-container-inner">
        {{ include(directory ~ '/includes/hmenu_3.html.twig') }}
    </div>
</div>
    </div>
</div>
    </div>
</section></div>
</header>
	
		<section class=" bd-section-1 bd-page-width bd-tagstyles " id="section3" data-section-title="Page High Slider Header">
    <div class="bd-container-inner bd-margins clearfix">
        <div id="carousel-3" class="bd-slider-3 bd-background-width  bd-slider bd-no-margins  carousel slide bd-carousel-fade" >
    

    

    

    <div class="bd-slides carousel-inner">
        <div class=" bd-slide-4 bd-textureoverlay bd-textureoverlay-2 bd-slide item"
    
    
    >
    <div class="bd-container-inner">
        <div class="bd-container-inner-wrapper">
            <div class=" bd-layoutbox-19 bd-no-margins clearfix">
    <div class="bd-container-inner">
        <div class=" bd-spacer-3 clearfix"></div>
	
		<h2 class=" bd-textblock-2 bd-content-element">
    cosmetic surgery
</h2>
	
		<p class=" bd-textblock-5 bd-content-element">
    If you’ve always thought cosmetic surgery and plastic&nbsp;<br>surgery were one in the same, you’re not alone.
</p>
    </div>
</div>
        </div>
    </div>
</div>
    </div>

    

    

    

    <script type="text/javascript">
        /* <![CDATA[ */
        if ('undefined' !== typeof initSlider) {
            initSlider(
                '.bd-slider-3',
                {
                    leftButtonSelector: 'bd-left-button',
                    rightButtonSelector: 'bd-right-button',
                    navigatorSelector: '.bd-carousel',
                    indicatorsSelector: '.bd-indicators',
                    carouselInterval: 3000,
                    carouselPause: "hover",
                    carouselWrap: true,
                    carouselRideOnStart: true
                }
            );
        }
        /* ]]> */
    </script>
</div>
    </div>
</section>
	
		<div class="bd-containereffect-7 container-effect container "><div class=" bd-spacer-2  clearfix"></div></div>
	
		<section class=" bd-section-6 bd-tagstyles" id="section4" data-section-title="Two Columns Image Right">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-12 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-7 
 col-md-6">
    <div class="bd-layoutcolumn-7 bd-column" ><div class="bd-vertical-align-wrapper"><p class=" bd-textblock-7 bd-content-element">
    <b>
    ABOUT US</b>
</p>
	
		<div class="bd-separator-2  bd-separator-left bd-separator-content-center clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div>
	
		<h1 class=" bd-textblock-9 bd-content-element">
    Cosmetic center
</h1>
	
		<div class=" bd-spacer-6 clearfix"></div>
	
		<p class=" bd-textblock-11 bd-content-element">
    The Cosmetology curriculum is designed to provide students with hands-on experience so that they can become professional beauty experts.
</p>
	
		<div class=" bd-spacer-8 clearfix"></div>
	
		<a 
 href="" class="bd-linkbutton-5  bd-button-5  bd-own-margins bd-content-element"    >
    read more
</a></div></div>
</div>
	
		<div class=" bd-columnwrapper-12 
 col-md-6">
    <div class="bd-layoutcolumn-12 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-7 bd-imagescaling bd-imagescaling-3 bd-own-margins bd-imagestyles   "  src="{{ images['b8a999a69a4ce9ea70049885f2d4f872_5180992066_5abe9fff01_o.jpg'] }}"></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-7 bd-tagstyles" id="section4" data-section-title="Three Columns">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-31 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-top">
                <div class=" bd-columnwrapper-16 
 col-sm-4">
    <div class="bd-layoutcolumn-16 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-13 bd-no-margins bd-content-element">
    Breast implants
</h2>
	
		<div class="bd-separator-5 bd-no-margins  bd-separator-center bd-separator-content-left clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div>
	
		<p class=" bd-textblock-15 bd-no-margins bd-content-element">
    Breast implant surgery – is the most common type of cosmetic surgery.
</p></div></div>
</div>
	
		<div class=" bd-columnwrapper-18 
 col-sm-4">
    <div class="bd-layoutcolumn-18 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-17 bd-no-margins bd-content-element">
    Liposuction
</h2>
	
		<div class="bd-separator-7 bd-no-margins  bd-separator-center bd-separator-content-left clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div>
	
		<p class=" bd-textblock-19 bd-no-margins bd-content-element">
    Liposuction is a type of cosmetic surgery used to remove unwanted body fat.
</p></div></div>
</div>
	
		<div class=" bd-columnwrapper-32 
 col-sm-4">
    <div class="bd-layoutcolumn-32 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-21 bd-no-margins bd-content-element">
    Counselling
</h2>
	
		<div class="bd-separator-9 bd-no-margins  bd-separator-center bd-separator-content-left clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div>
	
		<p class=" bd-textblock-23 bd-no-margins bd-content-element">
    Counselling is a type of talking therapy that allows a person to talk about.
</p></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-8 bd-tagstyles" id="section4" data-section-title="Three Columns">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-37 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-top">
                <div class=" bd-columnwrapper-71 
 col-sm-4">
    <div class="bd-layoutcolumn-71 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-25 bd-content-element">
    faces
</h2>
	
		<div class="bd-separator-11  bd-separator-left bd-separator-content-left clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div>
	
		<p class=" bd-textblock-27 bd-content-element">
    Having cosmetic surgery is a major decision. It can be expensive, time consuming, and can't be guaranteed.
</p></div></div>
</div>
	
		<div class=" bd-columnwrapper-73 
 col-sm-4">
    <div class="bd-layoutcolumn-73 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-29 bd-content-element">
    hairs
</h2>
	
		<div class="bd-separator-13  bd-separator-left bd-separator-content-left clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div>
	
		<p class=" bd-textblock-31 bd-content-element">
    Sometimes people feel that having cosmetic surgery will help solve a problem in their life and will make their life better.&nbsp;
</p></div></div>
</div>
	
		<div class=" bd-columnwrapper-76 
 col-sm-4">
    <div class="bd-layoutcolumn-76 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-33 bd-content-element">
    nails
</h2>
	
		<div class="bd-separator-15  bd-separator-left bd-separator-content-left clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div>
	
		<p class=" bd-textblock-35 bd-content-element">
    Cosmetic surgery is rarely available through. There must be a major physical or other reason for needing the surgery. &nbsp;
</p></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-9 bd-tagstyles" id="section4" data-section-title="Six Columns Images">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-40 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-78 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-78 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-82 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-82 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-91 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-91 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-93 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-93 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-95 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-95 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-98 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-98 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-10 bd-tagstyles" id="section4" data-section-title="Team Four Columns With Header">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-43 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-102 
 col-xs-12">
    <div class="bd-layoutcolumn-102 bd-column" ><div class="bd-vertical-align-wrapper"><h1 class=" bd-textblock-37 bd-no-margins bd-content-element">
    Meet Our team
</h1>
	
		<div class=" bd-spacer-10 clearfix"></div>
	
		<div class="bd-separator-17  bd-separator-center bd-separator-content-center clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div></div></div>
</div>
	
		<div class=" bd-columnwrapper-104 
 col-md-3
 col-sm-6">
    <div class="bd-layoutcolumn-104 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-106 
 col-md-3
 col-sm-6">
    <div class="bd-layoutcolumn-106 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-108 
 col-md-3
 col-sm-6">
    <div class="bd-layoutcolumn-108 bd-background-width  bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-110 
 col-md-3
 col-sm-6">
    <div class="bd-layoutcolumn-110 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-11 bd-tagstyles" id="section4" data-section-title="Testimonials Text">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutbox-22 bd-no-margins bd-no-margins clearfix">
    <div class="bd-container-inner">
        <h1 class=" bd-textblock-39 bd-content-element">
    What People Say About us
</h1>
	
		<div class="bd-separator-19  bd-separator-center bd-separator-content-center clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div>
	
		<p class=" bd-textblock-41 bd-content-element">
    «Thanks I got to do something I've wanted to do for years with a procedure that was relatively pain free with an easy and quick recovery time. &nbsp;I would recommend an eyelid lift to anyone who is considering it. &nbsp;Not only did it lift my eyes, but it lifted my spirits!»
</p>
	
		<p class=" bd-textblock-43 bd-content-element">
    <b>
    John Michaels
</b>
</p>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-12 bd-tagstyles bd-textureoverlay bd-textureoverlay-5" id="section4" data-section-title="Intro Text">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutbox-25 bd-no-margins bd-no-margins clearfix">
    <div class="bd-container-inner">
        <h1 class=" bd-textblock-45 bd-content-element">
    Choose a Procedure
</h1>
	
		<div class="bd-separator-21  bd-separator-center bd-separator-content-center clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div>
	
		<p class=" bd-textblock-47 bd-content-element">
    If you’ve always thought cosmetic surgery and plastic surgery were one in the same, you’re not alone. A significant number of plastic surgeons choose to focus their practice on cosmetic surgery, and as such, the terms are often used interchangeably.&nbsp;
</p>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-13 bd-tagstyles" id="section4" data-section-title="One Plus Two Columns Four Cells">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-45 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-113 
 col-md-6">
    <div class="bd-layoutcolumn-113 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-115 
 col-md-3
 col-sm-6">
    <div class="bd-layoutcolumn-115  bd-column" ><div class="bd-vertical-align-wrapper"><div class=" bd-layoutbox-27 bd-no-margins clearfix">
    <div class="bd-container-inner">
        
    </div>
</div>
	
		<div class=" bd-layoutbox-29 bd-no-margins clearfix">
    <div class="bd-container-inner">
        
    </div>
</div></div></div>
</div>
	
		<div class=" bd-columnwrapper-117 
 col-md-3
 col-sm-6">
    <div class="bd-layoutcolumn-117 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-14 bd-tagstyles" id="section4" data-section-title="Six Columns Logos">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-47 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-119 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-119 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-29 bd-own-margins bd-imagestyles   "  src="{{ images['b536f959dcc8ed4aec9f56258f97bf18_Untitled12.png'] }}"></div></div>
</div>
	
		<div class=" bd-columnwrapper-121 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-121 bd-column" ><div class="bd-vertical-align-wrapper"><h1 class=" bd-textblock-49 bd-content-element">
    Our partners
</h1>
	
		<div class="bd-separator-23  bd-separator-center bd-separator-content-center clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div></div></div>
</div>
	
		<div class=" bd-columnwrapper-123 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-123 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-33 bd-own-margins bd-imagestyles   "  src="{{ images['67bd9a5829a6f10c92656a0ab2691456_2.png'] }}"></div></div>
</div>
	
		<div class=" bd-columnwrapper-125 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-125 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-35 bd-own-margins bd-imagestyles   "  src="{{ images['d495aac328c4a72aac08b697f9e2ac06_Untitled13.png'] }}"></div></div>
</div>
	
		<div class=" bd-columnwrapper-127 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-127 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-37 bd-own-margins bd-imagestyles   "  src="{{ images['3a6d5cb4cf42ba54fb66bb432b1d499a_Untitled5.png'] }}"></div></div>
</div>
	
		<div class=" bd-columnwrapper-129 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-129 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-39 bd-own-margins bd-imagestyles   "  src="{{ images['26dfd4f18c29b65a9a1207ca41626239_Untitled1.png'] }}"></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
	
		<div class=" bd-content-10 clearfix">

 {% set blogId=2 %}

    {{ include(directory ~ '/includes/blog_2.html.twig') }}
</div>
	
		<div data-smooth-scroll data-animation-time="250" class=" bd-smoothscroll-3"><a href="#" class=" bd-backtotop-1 ">
    <span class="bd-icon-80 bd-icon "></span>
</a></div>
	
		<footer class=" bd-footerarea-1 bd-margins">
        <section class=" bd-section-15 bd-tagstyles" id="section2" data-section-title="Social Icon Footer Centered Light">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-socialicons-2">
    
        {% set href  = '//www.facebook.com/sharer.php?u='|replace({'[DYNAMIC-URL]': current_url, '[DYNAMIC-TITLE]': title}) %}
<a target="_blank" class=" bd-socialicon-19 bd-socialicon" href="{{ href }}">
    <span class="bd-icon"></span><span></span>
</a>
    
        {% set href  = '//twitter.com/share?url=&amp;text='|replace({'[DYNAMIC-URL]': current_url, '[DYNAMIC-TITLE]': title}) %}
<a target="_blank" class=" bd-socialicon-20 bd-socialicon" href="{{ href }}">
    <span class="bd-icon"></span><span></span>
</a>
    
        {% set href  = '//plus.google.com/share?url='|replace({'[DYNAMIC-URL]': current_url, '[DYNAMIC-TITLE]': title}) %}
<a target="_blank" class=" bd-socialicon-21 bd-socialicon" href="{{ href }}">
    <span class="bd-icon"></span><span></span>
</a>
    
        {% set href  = '//pinterest.com/pin/create/button/?url=&amp;media=&amp;description='|replace({'[DYNAMIC-URL]': current_url, '[DYNAMIC-TITLE]': title}) %}
<a target="_blank" class=" bd-socialicon-22 bd-socialicon" href="{{ href }}">
    <span class="bd-icon"></span><span></span>
</a>
    
    
    
    
    
    
    
</div>
	
		{{ include(directory ~ '/includes/page_footer_2.html.twig') }}
    </div>
</section>
</footer>
    <!-- BLOG_ID_PAGE = {{ blog_id }} -->
