
    <header class=" bd-headerarea-1 bd-margins">
        <div data-affix
     data-offset=""
     data-fix-at-screen="top"
     data-clip-at-control="top"
     
 data-enable-lg
     
 data-enable-md
     
 data-enable-sm
     
     class=" bd-affix-2 bd-no-margins bd-margins "><section class=" bd-section-4 bd-tagstyles  " id="section4" data-section-title="">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutbox-6 bd-no-margins clearfix">
    <div class="bd-container-inner">
        <div class=" bd-layoutbox-11 bd-no-margins bd-no-margins clearfix">
    <div class="bd-container-inner">
        {{ include(directory ~ '/includes/logo_3.html.twig') }}
    </div>
</div>
	
		<div class=" bd-layoutbox-15 bd-no-margins bd-no-margins clearfix">
    <div class="bd-container-inner">
        {{ include(directory ~ '/includes/hmenu_3.html.twig') }}
    </div>
</div>
    </div>
</div>
    </div>
</section></div>
</header>
	
		<div class=" bd-stretchtobottom-3 bd-stretch-to-bottom" data-control-selector=".bd-contentlayout-5">
<div class="bd-contentlayout-5  bd-sheetstyles  bd-no-margins bd-margins" >
    <div class="bd-container-inner">

        <div class="bd-flex-vertical bd-stretch-inner bd-contentlayout-offset">
            
 {{ include(directory ~ '/includes/sidebar_area_6.html.twig') }}
            <div class="bd-flex-horizontal bd-flex-wide bd-no-margins">
                
 {{ include(directory ~ '/includes/sidebar_area_5.html.twig') }}
                <div class="bd-flex-vertical bd-flex-wide bd-no-margins">
                    

                    <div class=" bd-layoutitemsbox-13 bd-flex-wide bd-no-margins">
    <div class=" bd-content-12 clearfix">

 {% set blogId=3 %}

    {{ include(directory ~ '/includes/blog_3.html.twig') }}
</div>
</div>

                    
                </div>
                
            </div>
            
        </div>

    </div>
</div></div>
	
		<footer class=" bd-footerarea-1 bd-margins">
        <section class=" bd-section-15 bd-tagstyles" id="section2" data-section-title="Social Icon Footer Centered Light">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-socialicons-2">
    
        {% set href  = '//www.facebook.com/sharer.php?u='|replace({'[DYNAMIC-URL]': current_url, '[DYNAMIC-TITLE]': title}) %}
<a target="_blank" class=" bd-socialicon-19 bd-socialicon" href="{{ href }}">
    <span class="bd-icon"></span><span></span>
</a>
    
        {% set href  = '//twitter.com/share?url=&amp;text='|replace({'[DYNAMIC-URL]': current_url, '[DYNAMIC-TITLE]': title}) %}
<a target="_blank" class=" bd-socialicon-20 bd-socialicon" href="{{ href }}">
    <span class="bd-icon"></span><span></span>
</a>
    
        {% set href  = '//plus.google.com/share?url='|replace({'[DYNAMIC-URL]': current_url, '[DYNAMIC-TITLE]': title}) %}
<a target="_blank" class=" bd-socialicon-21 bd-socialicon" href="{{ href }}">
    <span class="bd-icon"></span><span></span>
</a>
    
        {% set href  = '//pinterest.com/pin/create/button/?url=&amp;media=&amp;description='|replace({'[DYNAMIC-URL]': current_url, '[DYNAMIC-TITLE]': title}) %}
<a target="_blank" class=" bd-socialicon-22 bd-socialicon" href="{{ href }}">
    <span class="bd-icon"></span><span></span>
</a>
    
    
    
    
    
    
    
</div>
	
		{{ include(directory ~ '/includes/page_footer_2.html.twig') }}
    </div>
</section>
</footer>
	
		<div data-smooth-scroll data-animation-time="250" class=" bd-smoothscroll-3"><a href="#" class=" bd-backtotop-1 ">
    <span class="bd-icon-80 bd-icon "></span>
</a></div>
    <!-- BLOG_ID_PAGE = {{ blog_id }} -->
