<!-- Template Name: Blog Template -->

<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <script>
    var themeHasJQuery = !!window.jQuery;
</script>
<script type="text/javascript" src="{{ theme_url }}/js/jquery.js?{{ version }}"></script>
<script>
    window._$ = jQuery.noConflict(themeHasJQuery);
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ theme_url }}/css/bootstrap.css?{{ version }}" media="screen" />
<script type="text/javascript" src="{{ theme_url }}/js/bootstrap.min.js?{{ version }}"></script>
<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" href="{{ theme_url }}/css/layout.ie.css" />
<script src="{{ theme_url }}/js/layout.ie.js"></script>
<![endif]-->
<script type="text/javascript" src="{{ theme_url }}/js/layout.core.js"></script>
    
    
    <link rel="stylesheet" type="text/css" href="{{ theme_css_url }}" media="all" />
    <script type="text/javascript" src="{{ theme_url }}/js/script.js?{{ version }}"></script>
    <script>
        var themeParam = '{% if is_preview %}theme={{ is_preview }}{% endif %}';
    </script>
    {% if preview_js_url is not empty %}
    <script type="text/javascript" src="{{ preview_js_url }}?{{ version }}"></script>
    {% endif %}
</head>
{%
  set body_classes = [ 'bootstrap', 'bd-body-5', ' ', '  bd-pagebackground', ]
%}
<body {{ attributes.addClass(body_classes) }}>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
</html>