{% if blog_items is not empty and blog_items.comment_id is not empty %}
    {{ include(directory ~ '/includes/comment_' ~ blog_items.comment_id ~ '.html.twig') }}
{% else %}
    <!-- COMMENT ID IS EMPTY -->
{% endif %}