{% if blog_items is not empty and blog_items.comments_id is not empty %}
    {{ include(directory ~ '/includes/comments_' ~ blog_items.comments_id ~ '.html.twig') }}
{% else %}
    <!-- COMMENTS ID IS EMPTY -->
{% endif %}