<div class="breadcrumb_classnames"  role="navigation" aria-labelledby="system-breadcrumb">
    <div class="bd-container-inner">
        <ol class="breadcrumb">
            {% if breadcrumb %}
                {% for item in breadcrumb %}
                    <li>
                        {% if item.url %}
                            <div class="breadcrumb_link_classnames"><a href="{{ item.url }}">{{ item.text }}</a></div>
                        {% else %}
                            <span class="breadcrumb_text_classnames"><span>{{ item.text }}</span></span>
                        {% endif %}
                    </li>
                {% endfor %}
            {% else %}
                <li class="active">
                    <div class="breadcrumb_link_classnames">
                        <a href="{{ path('<front>') }}" title = "{{ site_name }}" rel="home">{% trans %}Home{% endtrans %}</a>
                    </div>
                </li>
            {% endif %}
        </ol>
    </div>
</div>