{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'inline' ? 'inline',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <span{{ title_attributes.addClass(title_classes) }}>{{ label }}</span>
  {% endif %}
  <ul class="links field__items">
    {% for item in items %}
      <li{{ item.attributes.addClass('inline') }}>{{ item.content }}</li>
    {% endfor %}
  </ul>
</div>