{% if blog_id is not empty %}
    {{ include(directory ~ '/includes/blog_grid_' ~ blog_id ~ '.html.twig') }}
{% else %}
    <!-- ARTICLE ID IS EMPTY -->
{% endif %}
<!-- BLOG_ID_NODE = {{ blog_id }} -->