{% if blog_items is not empty and blog_items.pager_id is not empty %}
    {{ include(directory ~ '/includes/pager_' ~ blog_items.pager_id ~ '.html.twig') }}
{% else %}
    <!-- PAGER ID IS EMPTY -->
{% endif %}