<form{{ attributes.addClass(' bd-searchwidget-2 form-inline') }}>
    <div class="bd-container-inner">
    <div class="bd-search-wrapper">
        
            
            <div class="bd-input-wrapper">
                {{ children }}
            </div>
            
            <div class="bd-button-wrapper">
                {{ search_button|raw }}
            </div>
    </div>
</div>
<script>
    jQuery('.bd-searchwidget-2 .bd-icon-6').bind('click', function (e) {
        e.preventDefault();
        jQuery('#{{ form_id_attr }}').submit();
    });
</script>
</form>