<nav{{ attributes.addClass(' bd-hmenu-3') }}  data-responsive-menu="true" data-responsive-levels="expand on click" data-responsive-type="" data-offcanvas-delay="0ms" data-offcanvas-duration="700ms" data-offcanvas-timing-function="ease">
    
        <div class=" bd-menuoverlay-1 bd-menu-overlay"></div>
        <div class=" bd-responsivemenu-2 collapse-button">
    <div class="bd-container-inner">
        <div class="bd-menuitem-9 ">
            <a  data-toggle="collapse"
                data-target=".bd-hmenu-3 .collapse-button + .navbar-collapse"
                href="#" onclick="return false;">
                    <span>MENU</span>
            </a>
        </div>
    </div>
</div>
        <div class="navbar-collapse collapse ">
        <div class=" bd-horizontalmenu-2 clearfix">
            <div class="bd-container-inner">
                
                {{ content | raw }}
                
            </div>
        </div>
        <div class="bd-menu-close-icon">
    <a href="#" class="bd-icon  bd-icon-11"></a>
</div>
    
        </div>
</nav>