<div{{ attributes.addClass(' bd-block-2') }}>
    <div class="bd-layoutcontainerinner">
        {% if label %}
    
    <div class=" bd-blockheader bd-tagstyles shape-only">
        {{ title_prefix }}
        <h4{{ title_attributes }}>{{ label }}</h4>
        {{ title_suffix }}
    </div>
    
{% endif %}
        <div class="bd-blockcontent bd-tagstyles{{shape_only}}">
    {% block content %}
        {{ content }}
    {% endblock %}
</div>
    </div>
</div>