{% if region is not empty %}
    {{ include(directory ~ '/templates/block/block--' ~ region ~ '.html.twig') }}
{% else %}
    <div{{ attributes }}>
        {{ title_prefix }}
        {% if label %}
            <h2{{ title_attributes }}>{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
{% endif %}