<div{{ attributes.addClass(' bd-tabsmenu-1') }} data-responsive-menu="true" data-responsive-levels="expand on click" >
        <div class="bd-container-inner">
        
            <div class=" bd-responsivemenu-17 collapse-button">
    <div class="bd-container-inner">
        <div class="">
            <a  data-toggle="collapse"
                data-target=".bd-tabsmenu-1 .collapse-button + .navbar-collapse"
                href="#" onclick="return false;">
                    <span></span>
            </a>
        </div>
    </div>
</div>
            <div class="navbar-collapse collapse">
        
            <div  class=" bd-horizontalmenu-107 clearfix">
                <div class="bd-container-inner">
                    {{ content | raw }}
                </div>
            </div>
        
        
            </div>
        </div>
    </div>