{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    ' bd-article-2',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
    {{ include(directory ~ '/includes/postheader_7.html.twig') }}
	
		<div class=" bd-layoutbox-16 bd-no-margins clearfix">
    <div class="bd-container-inner">
        {{ include(directory ~ '/includes/posticondate_19.html.twig') }}
	
		{{ include(directory ~ '/includes/posticonauthor_20.html.twig') }}
    </div>
</div>
	
		{# https://chromatichq.com/blog/creating-links-within-twig-templates-using-path-and-url #}
{{ include(directory ~ '/includes/postreadmore_1.html.twig') }}
	
		<div class=" bd-layoutbox-18 bd-no-margins clearfix">
    <div class="bd-container-inner">
        {{ include(directory ~ '/includes/postcontent_10.html.twig') }}
    </div>
</div>
</article>