{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    ' bd-article-4',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
    {{ include(directory ~ '/includes/postheader_9.html.twig') }}
	
		<div class=" bd-layoutbox-10 bd-no-margins clearfix">
    <div class="bd-container-inner">
        {{ include(directory ~ '/includes/posticondate_25.html.twig') }}
	
		{{ include(directory ~ '/includes/posticonauthor_26.html.twig') }}
    </div>
</div>
	
		<div class=" bd-layoutbox-12 bd-no-margins clearfix">
    <div class="bd-container-inner">
        {{ include(directory ~ '/includes/postcontent_12.html.twig') }}
	
		{# https://chromatichq.com/blog/creating-links-within-twig-templates-using-path-and-url #}
{{ include(directory ~ '/includes/postreadmore_3.html.twig') }}
    </div>
</div>
	
		<div class=" bd-layoutbox-14 bd-no-margins clearfix">
    <div class="bd-container-inner">
        {{ include(directory ~ '/includes/posticontags_33.html.twig') }}
    </div>
</div>
	
		{{ include(directory ~ '/includes/posticoncomments_36.html.twig') }}
</article>