{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    ' bd-article-5',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
    {{ include(directory ~ '/includes/postheader_10.html.twig') }}
	
		<div class=" bd-layoutcontainer-38 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row ">
                <div class=" bd-columnwrapper-96 
 col-md-12">
    <div class="bd-layoutcolumn-96 bd-column" ><div class="bd-vertical-align-wrapper">{{ include(directory ~ '/includes/postcontent_8.html.twig') }}</div></div>
</div>
            </div>
        </div>
    </div>
</div>
	
		<div class=" bd-layoutcontainer-35 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row ">
                <div class=" bd-columnwrapper-86 
 col-md-9">
    <div class="bd-layoutcolumn-86 bd-column" ><div class="bd-vertical-align-wrapper">{{ include(directory ~ '/includes/posticondate_28.html.twig') }}</div></div>
</div>
	
		<div class=" bd-columnwrapper-87 
 col-md-2">
    <div class="bd-layoutcolumn-87 bd-column" ><div class="bd-vertical-align-wrapper">{{ include(directory ~ '/includes/posticonauthor_29.html.twig') }}</div></div>
</div>
	
		<div class=" bd-columnwrapper-88 
 col-md-1">
    <div class="bd-layoutcolumn-88 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
            </div>
        </div>
    </div>
</div>
	
		{# https://chromatichq.com/blog/creating-links-within-twig-templates-using-path-and-url #}
{{ include(directory ~ '/includes/postreadmore_4.html.twig') }}
</article>