{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    ' bd-article-6',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
    {{ include(directory ~ '/includes/postheader_11.html.twig') }}
	
		{{ include(directory ~ '/includes/postimage_10.html.twig') }}
	
		{{ include(directory ~ '/includes/postcontent_13.html.twig') }}
	
		{# https://chromatichq.com/blog/creating-links-within-twig-templates-using-path-and-url #}
{{ include(directory ~ '/includes/postreadmore_5.html.twig') }}
</article>