{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    ' bd-article-1',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
    {{ include(directory ~ '/includes/postheader_1.html.twig') }}
	
		{{ include(directory ~ '/includes/postcontent_1.html.twig') }}
	
		<ul class=" bd-pagination-14 pagination">
    <li class=" bd-paginationitem-14 disabled"><a href="#">Prev</a></li>
<li class=" bd-paginationitem-14 active"><a href="#">1</a></li>
<li class=" bd-paginationitem-14"><a href="#">2</a></li>
<li class=" bd-paginationitem-14"><a href="#">3</a></li>
<li class=" bd-paginationitem-14"><a href="#">4</a></li>
<li class=" bd-paginationitem-14"><a href="#">5</a></li>
<li class=" bd-paginationitem-14"><a href="#">Next</a></li>
</ul>
</article>