<div class=" bd-blog-5">
    <div class="bd-container-inner">
        
            {% if title is not empty %}
    <h2 class=" bd-container-48 bd-tagstyles">{{ title }}</h2>
{% endif %}
        
        <div class=" bd-grid-11">
          <div class="container-fluid">
            <div class="separated-grid row">
                {{ page.content }}
            </div>
          </div>
        </div>
        
 {# TODO: blog pagination top/bottom #}
    </div>
</div>