<div class=" bd-blog-2">
    <div class="bd-container-inner">
        
            {% if title is not empty %}
    <h2 class=" bd-container-26 bd-tagstyles">{{ title }}</h2>
{% endif %}
        
        <div class=" bd-grid-8">
          <div class="container-fluid">
            <div class="separated-grid row">
                {{ page.content }}
            </div>
          </div>
        </div>
        
 {# TODO: blog pagination top/bottom #}
    </div>
</div>