<div class="separated-item-14 col-md-12 ">

    <div class="bd-griditem-14">
    {% if blog_items is not empty and blog_items.article_id is not empty %}
        {{ include(directory ~ '/includes/article_' ~ blog_items.article_id ~ '.html.twig') }}
    {% else %}
        <!-- ARTICLE ID IS EMPTY -->
    {% endif %}
    </div>
</div>