<div class=" bd-blog">
    <div class="bd-container-inner">
        
            {% if title is not empty %}
    <h2 class=" bd-container-29 bd-tagstyles">{{ title }}</h2>
{% endif %}
        
        <div class=" bd-grid-10">
          <div class="container-fluid">
            <div class="separated-grid row">
                {{ page.content }}
            </div>
          </div>
        </div>
        
 {# TODO: blog pagination top/bottom #}
    </div>
</div>