<div class=" bd-commentmetadata-10 submitted">
    {{ submitted }}
    <span class="new">
        <mark class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>
    </span>
    {#
      Indicate the semantic relationship between parent and child comments for
      accessibility. The list is difficult to navigate in a screen reader
      without this information.
    #}
    {% if parent %}
      <p class="visually-hidden">{{ parent }}</p>
    {% endif %}

    {{ permalink }}
</div>