{%
  set classes = [
    'js-comment',
    ' bd-comment-4',
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <div class=" bd-layoutcontainer-36 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row ">
                <div class=" bd-columnwrapper-89 
 col-md-1">
    <div class="bd-layoutcolumn-89 bd-column" ><div class="bd-vertical-align-wrapper">{{ include(directory ~ '/includes/commentavatar_9.html.twig') }}</div></div>
</div>
	
		<div class=" bd-columnwrapper-90 
 col-md-11">
    <div class="bd-layoutcolumn-90 bd-column" ><div class="bd-vertical-align-wrapper">{{ include(directory ~ '/includes/commentmetadata_9.html.twig') }}
	
		{{ include(directory ~ '/includes/commenttext_9.html.twig') }}
	
		{{ include(directory ~ '/includes/commentreply_9.html.twig') }}</div></div>
</div>
            </div>
        </div>
    </div>
</div>
</div>