{% if comment_form %}
    <div  class=" bd-commentsform-2">
        <div class=" bd-container-39 bd-tagstyles">
            <h2{{ content_attributes }}>{{ 'Add new comment'|t }}</h2>
        </div>
    </div>
    {{ comment_form }}
{% endif %}