{%
  set classes = [
    'js-comment',
    ' bd-comment-1',
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <div class=" bd-layoutcontainer-30 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row ">
                <div class=" bd-columnwrapper-75 
 col-md-12">
    <div class="bd-layoutcolumn-75 bd-column" ><div class="bd-vertical-align-wrapper">{{ include(directory ~ '/includes/commentmetadata_6.html.twig') }}
	
		{{ include(directory ~ '/includes/commenttext_6.html.twig') }}
	
		{{ include(directory ~ '/includes/commentreply_6.html.twig') }}</div></div>
</div>
            </div>
        </div>
    </div>
</div>
</div>