{%
  set classes = [
    'js-comment',
    ' bd-comment-2',
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <div class=" bd-layoutcontainer-32 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row ">
                <div class=" bd-columnwrapper-79 
 col-md-1">
    <div class="bd-layoutcolumn-79 bd-column" ><div class="bd-vertical-align-wrapper">{{ include(directory ~ '/includes/commentavatar_7.html.twig') }}</div></div>
</div>
	
		<div class=" bd-columnwrapper-80 
 col-md-11">
    <div class="bd-layoutcolumn-80 bd-column" ><div class="bd-vertical-align-wrapper">{{ include(directory ~ '/includes/commentmetadata_7.html.twig') }}
	
		{{ include(directory ~ '/includes/commenttext_7.html.twig') }}
	
		{{ include(directory ~ '/includes/commentreply_7.html.twig') }}</div></div>
</div>
            </div>
        </div>
    </div>
</div>
</div>