<div{{ attributes.addClass(' bd-comments-1') }}>
    {% if comments and not label_hidden %}
        {{ title_prefix }}
        <div class=" bd-container-36 bd-tagstyles">
            <h2{{ title_attributes }}>{{ label }}</h2>
        </div>
        {{ title_suffix }}
    {% endif %}

    {{ comments }}

    {{ include(directory ~ '/includes/commentsform_1.html.twig') }}
</div>