{%
  set classes = [
    'js-comment',
    ' bd-comment-3',
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <div class=" bd-layoutcontainer-34 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row ">
                <div class=" bd-columnwrapper-84 
 col-md-2">
    <div class="bd-layoutcolumn-84 bd-column" ><div class="bd-vertical-align-wrapper">{{ include(directory ~ '/includes/commentavatar_8.html.twig') }}</div></div>
</div>
	
		<div class=" bd-columnwrapper-85 
 col-md-10">
    <div class="bd-layoutcolumn-85 bd-column" ><div class="bd-vertical-align-wrapper">{{ include(directory ~ '/includes/commentmetadata_8.html.twig') }}
	
		{{ include(directory ~ '/includes/commenttext_8.html.twig') }}
	
		{{ include(directory ~ '/includes/commentreply_8.html.twig') }}</div></div>
</div>
            </div>
        </div>
    </div>
</div>
</div>