{%
  set classes = [
    'js-comment',
    ' bd-comment-5',
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <div class=" bd-layoutcontainer-42 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row ">
                <div class=" bd-columnwrapper-99 
 col-md-1">
    <div class="bd-layoutcolumn-99 bd-column" ><div class="bd-vertical-align-wrapper">{{ include(directory ~ '/includes/commentavatar_10.html.twig') }}</div></div>
</div>
	
		<div class=" bd-columnwrapper-100 
 col-md-11">
    <div class="bd-layoutcolumn-100 bd-column" ><div class="bd-vertical-align-wrapper">{{ include(directory ~ '/includes/commentmetadata_10.html.twig') }}
	
		{{ include(directory ~ '/includes/commenttext_10.html.twig') }}
	
		{{ include(directory ~ '/includes/commentreply_10.html.twig') }}</div></div>
</div>
            </div>
        </div>
    </div>
</div>
</div>