{% if is_preview or page.drupalregion_15 %}
    {% if not page.drupalregion_15 and is_preview %}
        <!-- empty::begin -->
    {% endif %}
    
    
        <div class=" bd-drupalregion-16"{% if is_preview %} data-position="Drupal Region 15"{% endif %}>
            {{ page.drupalregion_15 }}
        </div>
    

    {% if not page.drupalregion_15 and is_preview %}
        <!-- empty::end -->
    {% endif %}
{% endif %}