{% if is_preview or page.drupalregion_11 %}
    {% if not page.drupalregion_11 and is_preview %}
        <!-- empty::begin -->
    {% endif %}
    
    
        <div class=" bd-drupalregion-12"{% if is_preview %} data-position="Drupal Region 1"{% endif %}>
            {{ page.drupalregion_11 }}
        </div>
    

    {% if not page.drupalregion_11 and is_preview %}
        <!-- empty::end -->
    {% endif %}
{% endif %}