{% set url = path('<front>') %}
<a class=" bd-logo-3" href="{{ url }}">
    <img class=" bd-imagestyles-11" src="{% if logo is not empty %}{{ logo }}{% else %}{{ images['8630ee2ab6f683393c6fde996130e8ab_logo7.png'] }}{% endif %}" alt="{% trans %}Home{% endtrans %}">
</a>