{{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes.addClass(' bd-postheader-6') }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}