{% if display_submitted and author_name %}
    
    <div class=" bd-posticonauthor-10">
        <div{{ author_attributes }}>
            <span class="
 bd-icon-67 bd-icon "></span>
            {{ author_name }}
            {{ metadata }}
        </div>
    </div>
    
{% endif %}