{% if display_submitted and date %}
    
    <div class=" bd-posticondate-2">
        <div{{ author_attributes }}>
            <span class="
 bd-icon-51 bd-icon "></span>
            {{ date }}
            {{ metadata }}
        </div>
    </div>
    
{% endif %}