<div{{ content_attributes.addClass(' bd-postcontent-7 bd-tagstyles bd-custom-image  bd-imagescaling bd-imagescaling-1', 'bd-contentlayout-offset', 'node__content', 'clearfix') }}>
    {{ content|without('field_tags') }}
</div>