{% set area_content %}
    {{ include(directory ~ '/includes/breadcrumbs_1.html.twig') }}
{% endset %}
{% set show_column = TRUE %}

    {% set show_column = show_column and (current_region_content is not defined or current_region_content is not empty) %}

{% set inner_block_ptn = '<!-- empty::begin -->[\\s\\S]*?<!-- empty::end -->' %}
{% set out_nospace_ptn = '\\s*\\S+\\s*' %}
{% if area_content matches '/' ~ inner_block_ptn ~ '/' %} {# empty block exists #}
    {# non-space left or right symbol exists #}
    {% set show_column = show_column and 
            (area_content matches '/' ~ out_nospace_ptn ~ inner_block_ptn ~ '/'
            or area_content matches '/' ~ inner_block_ptn ~ out_nospace_ptn ~ '/')  %}
{% else %}
    {# no empty block but content of sidebar can be empty with no block layout set #}
    {% set show_column = show_column and area_content|trim|length > 0 %}
{% endif %}

{% set additional_classes = '' %}
{% if is_preview and not show_column %}
    {% set show_column        = TRUE %}
    {% set additional_classes = ' hidden bd-hidden-sidebar' %}
{% endif %}     

{% if show_column %}
    <aside class="bd-sidebararea-6-column  bd-flex-vertical bd-flex-fixed{{ additional_classes }}">
        <div class="bd-sidebararea-6 bd-flex-wide">
            
            {{ area_content }}
            
        </div>
    </aside>
{% endif %}